Library/
Logs/
Packages/
Temp/
.vs/Ciga2024/FileContentIndex/e9ca1ca0-24b3-4b65-a9e4-2a6e8420cfcb.vsidx
.vsconfig
.vs/Assembly-CSharp.csproj.dtbcache.json
.vs/Sirenix.OdinInspector.Modules.UnityMathematics.csproj.dtbcache.json
.vs/Ciga2024/FileContentIndex/6008a746-fa5f-4dab-9126-53dc229e3de6.vsidx
.vs/Ciga2024/FileContentIndex/6752d91b-9054-412a-94cc-6deec3844b4e.vsidx
.vs/Ciga2024/FileContentIndex/7992dbf0-d9ee-4485-971f-286896015a85.vsidx
.vs/Ciga2024/FileContentIndex/81fc2cca-0a60-4b5c-84f4-f0fdaa699ac3.vsidx
.vs/Ciga2024/FileContentIndex/dbbb9305-6736-4ac2-869e-595f85b5e86b.vsidx
